#{{ ansible_managed }}
Director {
    Name = {{ item.name }}
    Description = "{{ item.description | default(item.name) }}"
    Password = "{{ item.password | default() }}"
    Monitor = {{ item.monitor | default("no") }}
{% if item.tls_enable is defined %}
    TLS Enable = {{ item.tls_enable }}
    TLS Require = {{ item.tls_enable }}
    TLS CA Certificate File = {{ bareos_tls_path_win }}\CA.crt
    TLS Certificate = {{ bareos_tls_path_win }}\{{ bareos_tls_certs }}.crt
    TLS Key = {{ bareos_tls_path_win }}\{{ bareos_tls_certs }}.key
{% endif %}
}
